@import "tailwindcss";
/* Custom dialog */
.custom-dialog .p-dialog-content {
  padding: 2rem;
}

.custom-dialog .p-dialog-header {
  background-color: #f9fafb;
  color: #111827;
  font-weight: bold;
}

/* Custom confirm dialog */
.custom-confirm-dialog .p-confirm-dialog-message {
  color: #ef4444;
}
